@import "tailwindcss";

/* * {
  outline: 1px dashed red;
} */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Cairo-variable";
  src: url("/src/Fonts/Cairo-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: "Cairo-bold";
  src: url("/src/Fonts/Cairo-Bold.ttf");
}

@font-face {
  font-family: "Cairo-Black";
  src: url("/src/Fonts/Cairo-Black.ttf");
}

@font-face {
  font-family: "Cairo-Light";
  src: url("/src/Fonts/Cairo-Light.ttf");
}

@font-face {
  font-family: "Cairo-Medium";
  src: url("/src/Fonts/Cairo-Medium.ttf");
}

@font-face {
  font-family: "Cairo-Regular";
  src: url("/src/Fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: "Inter-700";
  src: url("/src/Fonts/Inter_24pt-Bold.ttf");
}

@font-face {
  font-family: "Inter-300";
  src: url("/src/Fonts/Inter_24pt-Light.ttf");
}

@font-face {
  font-family: "SemiBold";
  src: url("/src/Fonts/Roboto-SemiBold.ttf");
}

/* For Common Styles */ 
@theme {
  --color-primary-color: #017598;
  --color-secondary-color: #1ed7cd;
  --color-light-blue: #05a7be;
  --color-medium-blue: #087ea2;
  --color-teal:#18C4B8;
  --color-dark-theme-color: #2b2b2b;
  --color-dark-primary-color: #2ce6d6;
  --color-dark-secondary-color: #5af3e9;
  --color-dark-third-color: #323232;
  --color-dark-fourth-color: #4AC8E0;
  --color-dark-text-color: #ffffff66;
  --color-dark-border-color: #8080808c;  
  
  --font-Cairo-variable: "Cairo-variable";
  --font-Cairo-bold: "Cairo-bold";
  --font-Cairo-Black: "Cairo-Black";
  --font-inter-700: "Inter-700";
  --font-inter-300: "Inter-300";
  --font-semi-bold: "SemiBold";


   --font-Cairo-variable:"Cairo-variable";
   --font-Cairo-bold:"Cairo-bold";
   --font-Cairo-Black:"Cairo-Black";
   --font-inter-700:"Inter-700";
   --font-inter-300:"Inter-300";
   --font-semi-bold:"SemiBold";
}
html,
body {
  overflow-x: hidden;
}
.form-input {
  @apply font-Cairo-bold w-full pr-2 min-h-[50px] sm:min-h-[55px] md:min-h-[56px] lg:min-h-0 lg:h-12  border border-gray-300 rounded-xl sm:rounded-lg text-right placeholder-gray-400 bg-white dark:border-[#8080808C] dark:placeholder-dark-border-color dark:bg-[var(--color-dark-theme-color)] xl:h-10;
}
.form-row {
  @apply flex flex-row w-full gap-4;
}
.input-wrapper {
  @apply relative w-full;
}

.eye-button {
  @apply absolute top-1/2 left-3 -translate-y-1/2 text-xl text-gray-500 focus:outline-none;
}

.eye-button1 {
  @apply absolute top-1/2 -translate-y-1/2 text-xl text-black focus:outline-none;
}


/* For Custom Styles */
@layer utilities {
  .box-shadow {
    box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.25);
  }  
}
